body {margin: 0;font-family: abel}
a, a:visited {color: #444; transition: all .3s ease}
a:hover {color: #26e6b2;}


#index {background: #3742fa}


.container{height: 100%;margin-left: 5vw;width: 95vw; color: #fff;}
.container2 {width: 70vw; margin: auto;}
#main-title {font-family: 'Abril Fatface'; font-size: 32pt; line-height: 15vh}
#info-table {margin: auto}
#info-table tr td {padding: 2vw}


#sidebar {background: #fff;height: 100%;width: 5vw;position: fixed;transition: all .5s cubic-bezier(.68,-0.55,.27,1.55)}
.expanded {width: 30vw !important}
#side-btn {background: transparent;border: 0;font-size: 24pt;width: 5vw;height: 5vw}
#side-content {margin-left: 5vw; transform: scale(0); transition: all .3s ease}
#side-content .title {font-family: 'Abril Fatface'; font-size: 24pt; line-height: 42pt}
#side-content .social a {padding: 10px;}
.side-bg-pic {width: 30vw;height: 100%;position: fixed;right: 0;top: 0;background-image: url("../img/photo1.jpeg");background-size: cover;background-position: center;background-color: #3742fa;opacity: 0.2;z-index: -1}

.card {width: 20vw;padding: 2vw;color: #555;background:#fff;}
.card .title {font-family: 'Bebas Neue'; font-size: 24pt;color: #333}
.card .descr {margin: 10px 0; font-style: italic;text-align: justify; height: 110px}
.card .bottom {text-align: center; padding-top: 10px;}
.card .bottom .btn {background: #eee;padding: 15px 24px;color:#444;transition: all .3s ease;}
.card .bottom .btn:hover {background: #26e6b2;color: #fff;}

.progress-bar {width: 450px;padding: 7px;border: 1px solid #fff;margin: 15px; margin-left: 0}
.progress-bar .inner-bar {background: #fff;padding: 10px;}
.progress-bar .inner-bar .txt {font-family: open sans condensed;color: #444;font-size: 15pt;display: block;}

.show {transform: scale(1) !important}

/* PAGES */
#content-container {width: 60vw; margin: auto; background: #fff; color: #444; padding: 30px; font-family: gupter}
#sub-container {font-family: 'Playfair Display'; font-size: 20pt; width: 50vw; margin-bottom: 7vh}

@media screen and (max-width: 900px) {

	#sidebar {height: 15vh;width: 100%;}
	.expanded {height: 100% !important; width: 100% !important}
	#side-btn {width: 15vh; height: 15vh;}

	.container {padding-top: 15vh; padding-bottom: 15vh; margin-left: 0; width: 100vw;}
	.container2 {width: 90vw}
	#main-title {line-height: auto}
	#info-table tr td {display: block}

	.card {width: 80vw; padding: 3vw;}
	.card .descr {height: auto; width: 70vw; margin: 4vh auto}
	.card .title {margin: 2vh 4vh}
	.card .bottom {padding-top: 20px; height: 40px}

	#sub-container {width: 90vw}
	#content-container {width: 70vw; padding: 10vw}

	.progress-bar {width: 75vw; padding: 4px; margin: 3vh auto}

	.side-bg-pic {display: none}

}
