body {
	width: 650px;
	margin: auto;
	font-size: 9pt;
	font-family: monospace;
	/*border: 1px dashed;*/
	padding: 5px;
}
hr {
    border-top: 1px dashed #333;
    border-bottom: 0;
}

.header, .footer {
	background: #ddd;
	width: 100%;
	font-size: 10pt;
	padding: 10px;
}

.title {
	font-size: 12pt;
	text-align: center;
}

.right a {
	float: right;
}

p,p1,p2,p3,p4,p5,p6,p7 {
	margin: 10px;
	display: block;
}
p1 {
    margin: 20px;
}
.terminal {
    padding: 5px;
    font-size: 8pt;
}
.def {
    border: 1px dashed;
    padding: 5px;
    color: #222;
    margin: 5px;
}
.def-title {
    background: #ddd;
    margin: 0;
    padding: 5px;
}
.focus {
    margin: 5px;
    background: #f8f8f8;
    padding: 5px;
}

img {
    max-width: 500px;
    margin: 10px auto;
    display: block;
}
iframe {
    margin: auto;
    display: block;
}

.table-list td {
    border: 1px dashed;
}
code {
    border-bottom: 1px dashed;
    line-height: 14pt;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        padding: 0;
    }
    img {
        max-width: 90%;
    }
    code {
        border-bottom: 1px dashed;
        line-height: 14pt;
    }
}